html, body {
  height: 100%;
}
.robot-max-witgh {
  min-width: 100vh; min-height: 100vh; position: relative; margin-bottom: 1500px;
}
.robot-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.text-center {
    text-align: center;
}
.image-cursor {
  height: 80px; cursor: not-allowed;
}
.clear-both {
  clear: both;
}
.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

::-webkit-scrollbar {
  display: none;
}
.acontinue {
    display: inline-block;
    text-decoration: none;
}